.business-card {
  font-family: 'Arial', sans-serif;
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.business-logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
}

.company-desc {
  font-size: 12px;
  margin-bottom: 10px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #c8102e;
}

.title {
  margin: 5px 0;
}

.email,
.phone,
.address {
  font-size: 14px;
  margin: 2px 0;
}
